h1 {
    color: white;
}

button{
    background-color: #555555;
    border: none;
    color: white;
    padding: 4px 20px;
    text-align: center;
    font-size: 12px;
    border-radius: 3px;
}

#box1{
    padding: 20px;
    background-color: Tomato;
}

p{
    font-size: 12px;
    font-style: italic;
}

#main{
    background-color: LightGray;
    width: 800px;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
 
}

li p, h3, br{
    margin: 0px;
}

li{
    padding-bottom: 5px;
}

#box2, #result, #resultHead{
    padding-bottom: 5px;
    width:750px;
    margin: auto;
    right: 0;
    left: 0;
}

#box2{
    border-bottom: solid;
    border-color: grey;
    border-bottom-width: 1px;
}